# Relatório de Análise IV

## Seleções e Frequencias

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')

In [3]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [8]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados ['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [9]:
#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [13]:
#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
#60 <= Area <=100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [24]:
#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [30]:
print(f"Nº de imóveis classificados com tipo 'Apartamento' -> {n1}")
print(f"Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {n2}")
print(f"Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {n3}")
print(f"Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {n4}")

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41

In [29]:
imoveis_n4 = dados[selecao]
imoveis_n4.index = range(imoveis_n4.shape[0])
imoveis_n4

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
2,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
3,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
4,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
5,Casa de Vila,Méier,4,0,1,85,1600.0,NaN,NaN
6,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
7,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
8,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
9,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
10,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
11,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
12,Casa,Méier,4,1,1,125,1900.0,NaN,NaN
13,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
14,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
15,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
16,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
17,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0
18,Casa,Santo Cristo,5,0,0,85,1200.0,NaN,NaN
19,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0
20,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
21,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
22,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
23,Casa,Praça Seca,4,1,1,128,1600.0,NaN,228.0
24,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0
25,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
26,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
27,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
28,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
29,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
30,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
31,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
32,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
33,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
34,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
35,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
36,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
37,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
38,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
39,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
40,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN